---
layout: default
title: Emilio Coppa - Academic Page
---
				<h2 id="info">Info</h2>
				<hr>

				<div style="padding-left: 20px;">

					<b>Research interests:</b>
					<div style="padding-left: 20px; padding-top: 10px;">
						I like to study how programs run. During my PhD, I have analyzed programs to improve or predict their performance.
						After the PhD, I used program analyses to find bugs/vulnerabilities in real-world applications or to perform reverse engineering, 
						e.g., in the context of malware. I am also fascinated by low-level (attack) techniques such as Return-Oriented Programming.</div>
					<br />

					<div style="display: table;">

						<div style="display: table-row;">
							<div style="display: table-cell; padding-right: 25px;">
								<b>Position:</b>
							</div>
							<div style="display:table-cell;">
								Assistant professor at <a href="https://www.luiss.it/">LUISS University</a>.
								<!--
								Assistant professor at <a href="http://www.dis.uniroma1.it/">DIAG</a>.
								Member of <a href="http://season-lab.github.io" target="_blank"><b>SEASON
										Lab</b></a>.<br />
								Member of <a href="http://www.cis.uniroma1.it/en" target="_blank"><b>CIS
										Sapienza</b></a> research center for
								Cyber Intelligence and Information Security.<br />
								Local organizer of <a href="http://cyberchallenge.it"
									target="_blank"><b>CyberChallenge.IT</b></a> at Sapienza.
								-->
							</div>
						</div>

						<br />

						<div style="display:table-row;">
							<div style="display:table-cell; padding-right: 10px;">
								<b>Extra:</b>
							</div>
							<div style="display:table-cell;">
								Coach and/or team manager of the <a href="https://teamitaly.eu/">Italian Cybersecurity Team</a> during 2017-2019, and 2024.
								National organizer of <a href="https://cyberchallenge.it/">CyberChallenge.IT</a> during 2017-2019. <br />
								Local organizer of <a href="https://cyberchallenge.it/">CyberChallenge.IT</a> at Sapienza University of Rome during 2017-2023. <br />	
							</div>
						</div>

						<br />

						<div style="display:table-row;">
							<div style="display:table-cell; padding-right: 10px;">
								<b>Email:</b>
							</div>
							<div style="display:table-cell;">
								ecoppa [at] luiss.it
							</div>
						</div>

						<div style="display:table-row;">
							<div style="display:table-cell; padding-right: 10px;">
								<b>Office:</b>
							</div>
							<div style="display:table-cell;">
								Luiss University, Viale Romania 32, Rome - room 539
							</div>
						</div>

						<br />

						<div style="display:table-row;">
							<div style="display:table-cell; padding-right: 10px; text-align: left;">
								<img style="height: 20px; margin-bottom: -5px;" src="assets/img/github.png"
									alt="github" /><b>:</b>
							</div>
							<div style="display:table-cell;">
								<a href="https://github.com/ercoppa">github.com/ercoppa</a>
							</div>
						</div>

						<br />
						<!--
						<div style="display:table-row;">
							<div style="display:table-cell; padding-right: 10px;">
								<b>Full CV:</b>
							</div>
							<div style="display:table-cell;">
								<a href="https://github.com/ecoppa/ecoppa.github.io/raw/master/cv.pdf">[PDF]</a>
							</div>
						</div>
						-->
					</div>
				</div>
				<br /><br />
				
				<h2 id="funding">Funded projects</h2>
				<hr>
				<div style="padding-left: 20px;">
					<div style="display: table; border-collapse: separate; width: 100%;">

						<div style="display:table-row;">
							<div style="display:table-cell; width: 20%;">
								PRIN 2022
							</div>
							<div style="display:table-cell;">
								<b>Project FARE (Firmware Analysis for vulneRability dEtection)</b> aims at devising novel static and dynamic analysis techniques able to identify portions of code that may contain software vulnerabilities in embedded systems.
								<br /><br />
								Role: PI / head of research unit (LUISS).<br />
								Project website: <a href="https://fare-project.github.io/">fare-project.github.io</a><br />
								<!-- Funded by MUR with 193,380€.-->
							</div>
						</div>
						
						<div style="display:table-row;">
							<div style="display:table-cell;">
								<hr style="margin: 10px 0 10px 0;" />
							</div>
							<div style="display:table-cell;">
								<hr style="margin: 10px 0 10px 0;" />
							</div>
						</div>

						<div style="display:table-row;">
							<div style="display:table-cell; width: 20%;">
								PRIN 2022 PNRR
							</div>
							<div style="display:table-cell;">
								<b>Project SETA (Studying thE impact of anti-analysis Techniques in IoT security evAluations)</b> aims at evaluating the impact of anti-analysis techniques possibly used by IoT devices and other embedded devices to hinder security evaluations.
								<br /><br />
								Role: co-PI / head of research unit (LUISS).<br />
								Project website: <a href="https://prin.unica.it/seta/">prin.unica.it/seta</a><br />
								
								<!-- Funded by MUR with 229,240€. -->
							</div>
						</div>

						<div style="display:table-row;">
							<div style="display:table-cell;">
								<hr style="margin: 10px 0 10px 0;" />
							</div>
							<div style="display:table-cell;">
								<hr style="margin: 10px 0 10px 0;" />
							</div>
						</div>

						<div style="display:table-row;">
							<div style="display:table-cell; width: 20%;">
								PR FESR LAZIO<br> 2021-2027
							</div>
							<div style="display:table-cell;">
								<b>Project METIS (Modular Early Threat Identification System)</b> aims at designing effective and practical threat intelligence solutions.  
								<br /><br />
								Role: PI for Sapienza.<br />
								<!-- Funded by Regione Lazio with 1,417,000€. -->
							</div>
						</div>
						
						<div style="display:table-row;">
							<div style="display:table-cell;">
								<hr style="margin: 10px 0 10px 0;" />
							</div>
							<div style="display:table-cell;">
								<hr style="margin: 10px 0 10px 0;" />
							</div>
						</div>
						
					</div>
				</div>

				<br /><br />
				
				<h2 id="thesis">Thesis Opportunities</h2>
				<hr>
				<div style="padding-left: 20px;">
					Our research group is always looking for bright and motivated students. We are working on several
					research projects involving software security topics, such as fuzzing, symbolic execution, binary analysis, 
					and reverse engineering techniques. If you are looking for an idea for your thesis or a project for your <i>honors program</i>,
					feel free to contact me via email :)
				</div>
				
				<br /><br />

				<h2 id="education">Education</h2>
				<hr>

				<div style="padding-left: 20px;">

					<div style="display: table; border-collapse: separate; width: 100%;">

						<div style="display:table-row;">
							<div style="display:table-cell; width: 20%;">
								2023 - 2034
							</div>
							<div style="display:table-cell;">
								<b>National Scientific Qualification as Associate Professor</b>.
								<br />Disciplinary ﬁelds: 09/H1, 01/B1.
							</div>
						</div>

						<div style="display:table-row;">
							<div style="display:table-cell;">
								<hr style="margin: 10px 0 10px 0;" />
							</div>
							<div style="display:table-cell;">
								<hr style="margin: 10px 0 10px 0;" />
							</div>
						</div>

						<div style="display:table-row;">
							<div style="display:table-cell; width: 20%;">
								Feb 2024 - Present
							</div>
							<div style="display:table-cell;">
								<b>Assistant Professor</b> (Tenure Track, RTT) at LUISS University.
							</div>
						</div>

						<div style="display:table-row;">
							<div style="display:table-cell;">
								<hr style="margin: 10px 0 10px 0;" />
							</div>
							<div style="display:table-cell;">
								<hr style="margin: 10px 0 10px 0;" />
							</div>
						</div>

						<div style="display:table-row;">
							<div style="display:table-cell; width: 20%;">
								Oct 2020 - Jan 2024
							</div>
							<div style="display:table-cell;">
								<b>Assistant Professor</b> (RTD-A) at Sapienza University of Rome.
							</div>
						</div>
						
						<div style="display:table-row;">
							<div style="display:table-cell;">
								<hr style="margin: 10px 0 10px 0;" />
							</div>
							<div style="display:table-cell;">
								<hr style="margin: 10px 0 10px 0;" />
							</div>
						</div>
						
						<div style="display:table-row;">
							<div style="display:table-cell; width: 20%;">
								Jan 2016 - Sep 2020
							</div>
							<div style="display:table-cell;">
								<b>PostDoc</b> at Sapienza University of Rome<br />with Prof. <a
									href="http://www.dis.uniroma1.it/~demetres/" target="_blank">Camil Demetrescu</a>
								(demetres [at] dis.uniroma1.it).
							</div>
						</div>

						<div style="display:table-row;">
							<div style="display:table-cell;">
								<hr style="margin: 10px 0 10px 0;" />
							</div>
							<div style="display:table-cell;">
								<hr style="margin: 10px 0 10px 0;" />
							</div>
						</div>

						<div style="display:table-row;">
							<div style="display:table-cell;">
								Oct 2012 - Dic 2015
							</div>
							<div style="display:table-cell;">
								<b>Ph.D.</b>&nbsp;<b>in Computer Science</b> at Sapienza University of Rome.
								<br />Advisor: Prof. <a href="http://wwwusers.di.uniroma1.it/~finocchi/"
									target="_blank">Irene Finocchi</a> (finocchi [at] di.uniroma1.it).
							</div>
						</div>

						<div style="display:table-row;">
							<div style="display:table-cell;">
								<hr style="margin: 10px 0 10px 0;" />
							</div>
							<div style="display:table-cell;">
								<hr style="margin: 10px 0 10px 0;" />
							</div>
						</div>

						<div style="display:table-row;">
							<div style="display:table-cell;">
								Apr 2015 - Jul 2015
							</div>
							<div style="display:table-cell;">
								<b>Visitor at TU Darmstadt.</b> <br />Prof. <a
									href="https://www.cs.purdue.edu/homes/peugster/" target="_blank">Patrick
									Eugster</a> (peugster [at] cs.purdue.edu).
							</div>
						</div>

						<div style="display:table-row;">
							<div style="display:table-cell;">
								<hr style="margin: 10px 0 10px 0;" />
							</div>
							<div style="display:table-cell;">
								<hr style="margin: 10px 0 10px 0;" />
							</div>
						</div>

						<div style="display:table-row;">
							<div style="display:table-cell;">
								Oct 2010 - Oct 2012
							</div>
							<div style="display:table-cell;">
								<b>Master of Science in Engineering in Computer Science</b> (taught in English) at
								Sapienza University of Rome.
								<!-- GPA 29.57/30. -->Final grade: 110/110 summa cum laude.<br />Thesis Advisor: Prof. <a
									href="http://www.dis.uniroma1.it/~demetres/" target="_blank">Camil Demetrescu</a>
								(demetres [at] diag.uniroma1.it).
							</div>
						</div>

						<div style="display:table-row;">
							<div style="display:table-cell;">
								<hr style="margin: 10px 0 10px 0;" />
							</div>
							<div style="display:table-cell;">
								<hr style="margin: 10px 0 10px 0;" />
							</div>
						</div>

						<div style="display:table-row;">
							<div style="display:table-cell;">
								Sept 2007 - Oct 2010
							</div>
							<div style="display:table-cell;">
								<b>Bachelor of Science in&nbsp;</b><b>Engineering in Computer Science</b><b>&nbsp;</b>at
								Sapienza University of
								Rome. <!-- GPA: 26.7/30. -->Final grade: 110/110. <br />Thesis advisor: Prof. <a
									href="http://www.dis.uniroma1.it/~demetres/" target="_blank">Camil Demetrescu</a>
								(demetres [at] diag.uniroma1.it).
							</div>
						</div>

					</div>

				</div>

				<br /><br />

				<h2 id="projects">Projects</h2>
				<hr>

				<div>
					<div style="float: left; padding-right: 40px; padding-left: 25px;">
						<img src="assets/img/symfusion.png" style="height: 160px;" alt="symfusion">
					</div>
					<div>
						<h3><a href="https://season-lab.github.io/SymFusion/">SymFusion</a></h3>
						SymFusion devises a novel hybrid instrumentation approach for concolic execution, where the core components of an application can be instrumented 
						at compilation time (e.g., using an LLVM pass), while the remaining components can be dynamically instrumented at execution time (e.g., using QEMU DBT). The goal is to achieve the benefits of both approaches in terms of efficiency and flexibility.
						<br />
						<u><i>Related papers:</i></u> <a href="#SYMFUSION-ASE22">[SYMFUSION-ASE22]</a></a>
					</div>
					<div style="clear: both;"></div>
				</div>

				<br /><br />

				<div>
					<div style="float: left; padding-right: 40px; padding-left: 25px;">
						<img src="assets/img/droidreach.png" style="height: 160px;" alt="droidreach">
					</div>
					<div>
						<h3><a href="https://github.com/season-lab/DroidReach">DroidReach</a></h3>
						Framework for testing the reachability of native functions in Android applications. Solving this task can be essential for several security tasks, e.g., to show that a vulnerable function within a library is indeed reachable by an application and thus it requires immediate attention.
						<br />
						<u><i>Related papers:</i></u> <a href="#DROIDREACH-ESORICS22">[DROIDREACH-ESORICS22]</a></a>
					</div>
					<div style="clear: both;"></div>
				</div>

				<br /><br />

				<div>
					<div style="float: left; padding-right: 40px; padding-left: 25px;">
						<img src="assets/img/fuzzolic.png" style="height: 120px;" alt="fuzzolic">
					</div>
					<div>
						<h3><a href="https://season-lab.github.io/fuzzolic">Fuzzolic</a> - Fuzzing + Concolic</h3>
						Fuzzolic is a new concolic executor based on QEMU. It can be paired with a coverage-guided fuzzer, such as AFL++, to find bugs in real-world programs.
						<br />
						<u><i>Related papers:</i></u> <a href="#FUZZYSAT-ICSE21">[FUZZYSAT-ICSE21]</a>, <a href="#FUZZOLIC-COSE21">[FUZZOLIC-COSE21]</a>
					</div>
					<div style="clear: both;"></div>
				</div>

				<br /><br />

				<div>
					<div style="float: left; padding-right: 40px; padding-left: 25px;">
						<img src="assets/img/fuzzysat.png" style="height: 120px;" alt="fuzzysat">
					</div>
					<div>
						<h3><a href="https://season-lab.github.io/fuzzolic">Fuzzy-SAT</a> - Approximate solving</h3>
						Fuzzy-SAT is an approximate solver that can efficiently solve queries generated by concolic execution using techniques borrowed from the fuzzing domain.
						<br />
						<u><i>Related papers:</i></u> <a href="#FUZZYSAT-ICSE21">[FUZZYSAT-ICSE21]</a>, <a href="#FUZZOLIC-COSE21">[FUZZOLIC-COSE21]</a>
					</div>
					<div style="clear: both;"></div>
				</div>

				<br /><br />

				<div>
					<div style="float: left; padding-right: 40px; padding-left: 25px;">
						<img src="assets/img/symnav.png" style="height: 140px;" alt="symnav">
					</div>
					<div>
						<h3><a href="https://github.com/season-lab/symnav">SymNav</a> - Visually assisting symbolic execution</h3>
						A prototype tool that visualizes the state of a symbolic execution analysis 
						by plotting relevant data on a sunburst (that represent the symbolic execution tree), 
						and on the control flow graph of the program. Furthermore, the tool allows the user 
						to interact and refine the analysis, allowing him to interactively prune the symbolic execution tree
						<br />
						<u><i>Related papers:</i></u> <a href="#SYMNAV-VIZSEC19">[SYMNAV-VIZSEC19]</a>
					</div>
					<div style="clear: both;"></div>
				</div>

				<br /><br />
				
				<div>
					<div style="float: left; padding-right: 40px; padding-left: 25px;">
						<img src="assets/img/memsight.png" style="width: 300px;" alt="memsight">
					</div>
					<div>
						<h3><a href="https://github.com/season-lab/memsight">MemSight</a> - Reasoning on symbolic pointers</h3>
						A new approach to
						symbolic memory that reduces the need for concretization, hence
						offering the opportunity for broader state explorations and more
						precise pointer reasoning.
						<br />
						<u><i>Related papers:</i></u> <a href="#CDD-ASE17">[MEMSIGHT-ASE17] <a href="#MEMSIGHT2-STVR19">[MEMSIGHT2-STVR19]</a> <a href="#MINT-ISEC22">[MINT-ISEC22]</a>
					</div>
					<div style="clear: both;"></div>
				</div>
					
				<br /><br />
				
				<div>
					<div style="float: left; padding-right: 40px; padding-left: 25px;">
						<img src="assets/img/nearestfit.png" style="height: 160px;"
							alt="nearestfit: mapreduce progress indicator">
					</div>
					<div>
						<h3><a href="mailto:coppa@dis.uniroma1.it?Subject=Info%20NearestFit"
								target="_top">NearestFit</a> - Predicting
							MapReduce performance</h3>
						The NearestFit progress indicator targets accuracy of progress predictions for MapReduce jobs in
						the presence of
						data skewness and super-linear computations. This is achieved combining performance profiling,
						machine learning
						techniques, and data streaming algorithms.
						<br />
						<u><i>Related papers:</i></u> <a href="#CF-SOCC15">[CF-SOCC15]</a>
					</div>
					<div style="clear: both;"></div>
				</div>

				<br /><br />
				
				<div>
					<div style="float: left; padding-right: 40px; padding-left: 25px;">
						<img src="assets/img/diagram.png" style="height: 160px;" alt="hadoop internals">
					</div>
					<div>
						<h3><a href="http://ercoppa.github.io/HadoopInternals/">Hadoop Internals</a> - Diagrams</h3>
						This project contains several diagrams describing Apache Hadoop internals (2.3.0 or later).
					</div>
					<div style="clear: both;"></div>
				</div>
					
				<br /><br />

				<div>
					<div style="float: left; padding-right: 40px;">
						<img src="assets/img/aprof.png" alt="aprof: input-sensitive profiler">
					</div>
					<div>
						<h3><a href="https://github.com/ercoppa/aprof/wiki">aprof</a> - Input-sensitive profiling</h3>
						aprof is a Valgrind tool for performance profiling designed to help developers discover hidden
						asymptotic
						inefficiencies in the code. From one or more runs of a program, aprof measures how the
						performance of individual
						routines scales as a function of the input size, yielding clues to its growth rate. <br />
						<u><i>Related papers:</i></u> <a href="#CDF-PLDI12">[CDF-PLDI12]</a> <a
							href="#CDFM-CGO14">[CDFM-CGO14]</a> <a href="#CDF-TSE14">[CDF-TSE14]</a> <a
							href="#C-VAL14">[C-VAL14]</a>
					</div>
					<div style="clear: both;"></div>
				</div>
					
				<br /><br />
				
				<h2 id="publications">Publications</h2>
				<hr>

				My latest publications:
				<ul class="pub">
{% raw %}
					<!-- EC: per aggiungere pubblicazioni occorre editare assets/bib/publications.bib -->
					<li :id="p.id" v-for="(p, k) in publications">
						[{{ p.id }}]
						<span v-for="(a, index) of p.author">
							{{ a.given }} {{ a.family }}<span
								v-if="Object.keys(p.author).length > 2 && index != Object.keys(p.author).length - 1">,</span><span
								v-if="index == Object.keys(p.author).length - 2"> and</span><span
								v-if="index == Object.keys(p.author).length - 1">.</span>
						</span>
						{{ p.title }}.
						{{ p['container-title'] }}<span v-if="p['collection-title']">
							(<b>{{ p['collection-title'].replace('\'', '20') }}</b>)</span>,
						<!--
    <span v-if="p.volume"> {{ p.volume }}<span v-if="p.issue">({{ p.issue }})</span>,</span>
    <span v-if="p.page"> pp {{ p.page }},</span>
    -->
						{{ p.issued['date-parts'][0][0] }}<span v-if="p.note">.</span><span v-if="p.note"><b> {{ p.note }}</b></span>.
						<a v-if="p.DOI" target="_blank" :href="'https://www.doi.org/' + p.DOI">[DOI]</a>
						<a v-else-if="p.URL" target="_blank" :href="p.URL">[DOI]</a>
						<a v-if="p.url_pdf" target="_blank" :href="p.url_pdf">[PDF]</a>
						<a v-if="p.url_slides" target="_blank" :href="p.url_slides">[SLIDES]</a>
						<a v-if="p.url_project" target="_blank" :href="p.url_project">[PROJECT SITE]</a>
						<a v-on:click="showBibEntry(k)" class="bibBtn">[BIBTEX]</a>
						<!--
    <span v-html="p.conference.replace('Best Paper Award', '<b>Best Paper Award</b>')"></span><span v-if="!p.series">,</span>
    -->
						<div v-show="showBib === k" class="bibPopup" v-cloak>
							<div class="modal-content">
								<span class="close" v-on:click="showBibEntry(k)">&times;</span>
								<pre
									style="overflow-y: auto;"><code style="overflow-y: auto;">{{ printBib(citations.data[k]) }}</code></pre>
							</div>
						</div>
					</li>
{% endraw %}
				</ul>

				<br /><br />

				<h2 id="teaching">Teaching</h2>
				<hr>

				<ul>
					<li><b>[2023-2024] Informatica</b>: professor. <a
						href="https://www.luiss.it/cattedreonline/corso/254/E/1EEL2BASE/2023">website</a>.</li>
					<li><b>[2023-2024] Cybersecurity (Web Security module)</b>: professor. <a
						href="https://sites.google.com/diag.uniroma1.it/cybersecurity/">website</a>.</li>
					<li><b>[2022-2023] Advanced techniques for finding bugs in real-world software</b>: professor. <a
							href="/course-fuzzing-symbolic-execution.html">website</a>.</li>
					<li><b>[2022-2023] Computer System Architecture (Sistemi di Calcolo)</b>: professor. <a
							href="https://season-lab.github.io/SC/">website</a>.</li>
					<li><b>[2022-2023] Cybersecurity (Web Security module)</b>: professor. <a
							href="https://sites.google.com/diag.uniroma1.it/cybersecurity/">website</a>.</li>
					<li><b>[2021-2022] Advanced techniques for finding bugs in real-world software</b>: professor. <a
							href="/course-fuzzing-symbolic-execution.html">website</a>.</li>
					<li><b>[2021-2022] Computer System Architecture (Sistemi di Calcolo)</b>: professor. <a
							href="https://season-lab.github.io/SC/">website</a>.</li>
					<li><b>[2021-2022] Web Security and Privacy (Web Security module)</b>: professor. <a
							href="http://www.diag.uniroma1.it/~damore/websec/">website</a>.</li>
					<li><b>[2021-2022] Cybersecurity (Web Security module)</b>: professor. <a
							href="https://sites.google.com/diag.uniroma1.it/cybersecurity/">website</a>.</li>
					<li><b>[2020-2021] Advanced techniques for finding bugs in real-world software</b>: professor. <a
							href="/course-fuzzing-symbolic-execution.html">website</a>.</li>
					<li><b>[2020-2021] Computer System Architecture (Sistemi di Calcolo)</b>: professor. <a
							href="https://season-lab.github.io/SC/">website</a>.</li>
					<li><b>[2020-2021] Computer and Network Security</b>: professor. <a
							href="https://piazza.com/uniroma1.it/fall2020/cns/info">website</a>.</li>
					<li><b>[2019-2020] Computer System Architecture (Sistemi di Calcolo)</b>: adjunct professor. <a
							href="https://season-lab.github.io/SC/">website</a>.</li>
					<li><b>[2018-2019] Computer System Architecture (Sistemi di Calcolo I)</b>: adjunct professor. <a
							href="https://season-lab.github.io/SC/archive/2018-19/index.html">website</a>.</li>
					<li><b>[2017-2018] Computer System Architecture (Sistemi di Calcolo I)</b>: adjunct professor. <a
							href="https://season-lab.github.io/SC/archive/wikka.php@wakka=HomePage.html">website</a>.
					</li>
					<li><b>[2016-2017] Computer System Architecture (Sistemi di Calcolo I)</b>: teaching assistant. <a
							href="https://season-lab.github.io/SC/archive/wikka.php@wakka=HomePage1617.html">website</a>.
					</li>
					<li><b>[2015-2016] Fondamenti di Informatica II</b>: teaching assistant.</li>
				</ul>
